/* General*/
 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
 a {
     color:#0085a6;
     text-decoration: none;
     outline: 0;
     transition: all .3s ease-in-out;
}
 a:hover {
     color:#0085a6;
     text-decoration: none;
}
 h4 {
    font-weight:500;
     margin:1.4em 0 1em;
}
 hr {
     margin:16px 0;
     border:0;
     border-top:1px solid #c7c7c7;
     border-bottom:1px solid #fff;
}
 .btn {
     display: inline-block;
     margin-bottom: 0;
     font-weight: normal;
     text-align: center;
     vertical-align: middle;
     touch-action: manipulation;
     cursor: pointer;
     background-image: none;
     border: 2px solid transparent;
     white-space: normal;
     padding: 6px 14px;
     font-size: 18px;
     border-radius: 3px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
 .btn-default {
    border-color: #0085a6;
}
 a.btn-default:hover {
    background-color:#0085a6;
     color:#fff;
}
 pre {
    overflow:auto;
}
 .container {
     margin: 0 auto;
     padding: 20px;
     transition:.3s ease;
     width: 100%;
}
 @media (min-width:1366px){
     .container {
        max-width:1200px;
    }
}
 @media (max-width:1365px){
     .container {
        max-width:85%;
    }
}
 @media (max-width:801px){
     .container {
        max-width:92.5%;
    }
}
 @media (max-width:680px){
     .container {
        max-width:100%;
    }
}
 .center {
    text-align:center !important;
}
 .center-div {
    margin:0 auto;
    overflow:hidden;
    text-align: center;
}
 .left-fa {
    margin-right:8px;
}
 .right-fa {
    margin-left:8px;
}
 .small-width, .medium-width, .large-width {
    width:100%;
     padding:0 !important;
}
 .small-width {
    max-width:400px;
}
 .medium-width {
    max-width:500px;
}
 .large-width {
    max-width:600px;
}
 .padding-left-small li ul li {
    margin-bottom:0;
}
 @media (max-width:360px) {
     .padding-left-small, .padding-left-small ul {
        padding-left:20px;
    }
}
/* Newspaper 2+3 columns */
 .newspaper {
     -webkit-columns: 2 347px;
     -moz-columns: 2 347px;
     columns: 2 347px;
     -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
     column-gap: 2em;
     -webkit-column-rule: 1px dotted #bfbfbf;
     -moz-column-rule: 1px dotted #bfbfbf;
     column-rule: 1px dotted #bfbfbf;
}
 .newspaper ul, .newspaper ol {
    margin-top:0;
}
 .newspaper p {
    margin:0 !important;
     padding:0 0 .5em 0;
}
 .newspaper img {
     display: block;
     float: left;
     width:100%;
     max-width: 180px;
     padding:0 20px 10px 0;
     -webkit-transition:all .5s ease;
     -moz-transition:all .5s ease;
     transition:all .5s ease;
}
 @media screen and (max-width: 767px) {
     .newspaper img {
        max-width: 140px;
    }
}
 @media screen and (max-width: 375px) {
     .newspaper img {
        float:none;
         max-width:100%;
         margin-bottom:10px;
         padding:0;
    }
}
 .newspaper-3 {
     -webkit-columns: 3 270px;
     -moz-columns: 3 270px;
     columns: 3 270px;
}
/*-- Numbered nesting list --*/
 .numb-list ol {
     counter-reset: item;
     list-style-type: none;
     text-align:left;
     margin: 0;
     padding:3px 0;
}
 .numb-list ol li {
    display:table;
     padding:0;
     line-height:2em;
    margin:0;
}
 .numb-list ol li::before {
     color:rgba(0, 133, 166, .5);
     counter-increment: item;
     content: counters(item,".") ". ";
     display: table-cell;
     padding-right: .5em;
     transition: all .3s;
}
 .numb-list ol li:hover:before {
    color: #0085a6;
}
 .numb-list li a.buttonControl span {
    left:100%;
    top:0;
}
/* -- Inline-list --*/
 .inline-list {
    border-top:1px solid #0085a6;
     list-style:none;
     margin:5px 0 10px 0;
     padding:0;
     text-align:center;
}
 .inline-list li {
    display:inline-block;
     padding:0;
}
 .inline-list li a {
    display:block;
     padding:6px 12px;
}
 .inline-list li a:hover {
    background-color:#0085a6;
     color:#fff;
}
 .inline-list li ul {
    padding-left:0;
}
/* -- Inline-list-invert --*/
 .inline-list.inline-list-invert {
    border-top:1px solid #fff;
}
 .inline-list.inline-list-invert li a {
    color:#fff;
    text-shadow:0 0 3px #0085a6;
}
 .inline-list.inline-list-invert li a.active {
    color:#99ebff;
}
 .inline-list.inline-list-invert li a:hover {
    background-color:#fff;
     color:#0085a6;
    text-shadow:none;
}
 @media (max-width: 800px) {
     .inline-list {
        border-top-color:#c1ced2;
        border-bottom:1px solid #fff;
         margin:.75em 0;
    }
     .inline-list li {
        border-bottom: 1px solid #c1ced2;
         border-top: 1px solid #fff;
         display:block;
         text-align:center;
    }
     .inline-list li:first-child {
        border-top none;
    }
     .inline-list li:last-child {
        border-bottom none;
    }
     .inline-list li a {
        padding:8px;
    }
     .inline-list.inline-list-invert {
        border-top-color:#0085a6;
        border-bottom:1px solid #00ccff;
         border 0;
         margin:.75em 0;
    }
     .inline-list.inline-list-invert li {
        border-top-color:#00ccff;
         border-bottom-color:#0085a6;
         border 0;
         box-shadow 0 1px 0 #00ccff inset, 0 -1px 0 #0085a6 inset;
    }
}
/* Responsive Accordion | for Top menu, Toc menu, Accordion content --------------------------------------------------------------------- */
/* -- General settings -- */
 .responsive-accordion {
    list-style-type:none;
     margin:0 0 20px 0;
     padding:0;
}
 .responsive-accordion li {
    margin:0 0 10px 0;
     padding:0;
}
 .responsive-accordion li:last-child {
    margin-bottom:0;
}
 .responsive-accordion li .responsive-accordion-head {
     background-color:#fcfcfc;
     border:1px solid #bfbfbf;
     border-radius:3px;
     color:#0085a6;
     cursor:pointer;
     line-height:1;
     padding:9px 18px;
     position:relative;
}
 .responsive-accordion li .responsive-accordion-head:hover, .responsive-accordion li .responsive-accordion-head.active {
    background-color:#0085a6;
     border-color:#0085a6;
     color:#fff;
}
 .responsive-accordion li .responsive-accordion-head.active {
    border-radius:3px 3px 0 0 !important;
}
 .responsive-accordion li .responsive-accordion-panel {
     background-color:#fff;
     border:1px solid #bfbfbf;
     border-top:0;
     border-radius:0 0 3px 3px;
     box-shadow:0 6px 6px -6px rgba(0,0,0,0.28);
     padding:20px 26px;
}
 .responsive-accordion h2, .responsive-accordion h3, .responsive-accordion h4 {
    margin:.75em 0 .5em 0;
}
 .responsive-accordion p:first-child {
    margin-top:0;
}
 .responsive-accordion p:last-child {
    margin-bottom:0;
}
 .responsive-accordion li .inline-list li {
    margin:0;
}
 .responsive-accordion li .inline-list {
    margin-bottom:0;
}
 .responsive-accordion li .padding-left-small li {
    line-height:1.555em;
     margin-bottom:5px;
}
 .responsive-accordion li .padding-left-small li ul, .responsive-accordion li .padding-left-small li ul li {
    margin:0;
}
 .responsive-accordion li code {
    overflow:auto;
}
/* Left icons */
 .responsive-accordion.ra-def li .responsive-accordion-head i, .responsive-accordion.ra-topmenu-invert li .responsive-accordion-head i, .responsive-accordion.ra-tocmenu li .responsive-accordion-head i, .responsive-accordion.ra-without li .responsive-accordion-head i, .responsive-accordion.ra-without-trans li .responsive-accordion-head i {
    margin-right:10px;
}
 .responsive-accordion li .responsive-accordion-head i.fa-chevron-up, .responsive-accordion li .responsive-accordion-head i.fa-chevron-down {
    vertical-align:7%;
}
/* Right icons */
 .responsive-accordion.ra-def-right li .responsive-accordion-head i.rah-icon-right, .responsive-accordion.ra-def-right-lg li .responsive-accordion-head i.rah-icon-right {
     float:right;
     margin-left:10px;
     position: relative;
     top: 1px;
}
 .responsive-accordion li .responsive-accordion-head i.fa-chevron-up.rah-icon-right, .responsive-accordion li .responsive-accordion-head i.fa-chevron-down.rah-icon-right {
    top:-1px;
}
 .responsive-accordion.ra-def-right li .responsive-accordion-head, .responsive-accordion.ra-def-right-lg li .responsive-accordion-head {
    padding:14px 18px;
}
/* Responsive accordion left icon (without bg-border) */
 .responsive-accordion.ra-without li .responsive-accordion-head {
    background:none;
     border:0;
}
 .responsive-accordion.ra-without li .responsive-accordion-head:hover, .responsive-accordion.ra-without li .responsive-accordion-head.active {
    background-color:#0085a6;
}
/* Responsive accordion left icon (without bg-border - transparent panel) */
 .responsive-accordion.ra-without-trans li .responsive-accordion-head {
    background:none;
     border:0;
     padding-left:0;
}
 .responsive-accordion.ra-without-trans li .responsive-accordion-head:hover, .responsive-accordion.ra-without-trans li .responsive-accordion-head.active {
    background-color:transparent;
     color:#85a600;
}
 .responsive-accordion.ra-without-trans li .responsive-accordion-panel {
    background-color:transparent;
     border:0;
     box-shadow:none;
     padding:0;
}
 .panels .responsive-accordion.ra-without-trans {
    margin-bottom:0;
     padding-left:0;
}
/* Toc menu */
 .responsive-accordion.ra-tocmenu {
    display:inline-block;
}
/* For dark bgs - Top menu invert*/
 .responsive-accordion.ra-topmenu-invert {
    display:inline-block;
}
 .responsive-accordion.ra-topmenu-invert li .responsive-accordion-head {
     background:none;
     border:0;
     border-radius:0;
     color:#fff;
}
 .responsive-accordion.ra-topmenu-invert li .responsive-accordion-panel {
     background:none;
     border:0;
     border-radius:0;
     box-shadow:none;
     padding:0;
}
 @media (max-width:800px) {
     .responsive-accordion.ra-topmenu-invert {
        display:block;
    }
     .responsive-accordion.ra-topmenu-invert li .responsive-accordion-head {
        padding:0;
    }
}
/* Responsive accordion right icon large padding border up-down 1px collapse */
 .responsive-accordion.ra-def-right.def-collapse > li {
    margin-bottom:0;
     margin-top:-1px;
}
 .responsive-accordion.ra-def-right.def-collapse li .responsive-accordion-head {
    border-radius:0;
}
 .responsive-accordion.ra-def-right.def-collapse li:first-child .responsive-accordion-head {
    border-radius:3px 3px 0 0;
}
 .responsive-accordion.ra-def-right.def-collapse li:last-child .responsive-accordion-head {
    border-radius:0 0 3px 3px;
}
 .responsive-accordion.ra-def-right.def-collapse li .responsive-accordion-head:hover, .responsive-accordion.ra-def-right.def-collapse li .responsive-accordion-head.active {
    background-color:#0085a6;
}
 .responsive-accordion.ra-def-right.def-collapse li .responsive-accordion-panel {
    box-shadow:none;
     margin-bottom:0;
}
/* Responsive accordion right icon large padding border up-down 2px & collapse*/
 .responsive-accordion.ra-def-right-lg > li {
    margin-bottom:0;
     margin-top:-2px;
}
 .responsive-accordion.ra-def-right-lg > li:first-child {
    margin-top:0;
}
 .responsive-accordion.ra-def-right-lg li .responsive-accordion-head {
     background-color:transparent;
     border:none;
     border-top:2px solid #0085a6;
     border-bottom:2px solid #0085a6;
     border-radius: 0 !important;
}
 .responsive-accordion.ra-def-right-lg li .responsive-accordion-head:hover, .responsive-accordion.ra-def-right-lg li .responsive-accordion-head.active {
    background-color:#0085a6;
}
 .responsive-accordion.ra-def-right-lg li .responsive-accordion-panel {
    margin-bottom:1em;
}
 @media (max-width:359px) {
     .responsive-accordion.ra-def-right li .responsive-accordion-head, .responsive-accordion.ra-def-right-lg li .responsive-accordion-head {
        line-height:1.5;
         text-align:center;
    }
     .responsive-accordion.ra-def-right li .responsive-accordion-head i.rah-icon-right, .responsive-accordion.ra-def-right-lg li .responsive-accordion-head i.rah-icon-right {
         display:block;
         float:none;
         margin:6px 0 0;
    }
}
/* For panel show code */
 .source, .messageSource {
     background:#fff;
     border:2px solid #00add9;
     border-radius:3px;
     margin-top:15px;
     margin-bottom:10px;
     min-width:0;
     padding:2.5em 20px 10px;
     position:relative;
}
 .source-title, .messageSourceTitle {
     background:#00add9;
     border-radius:3px 0 3px 0;
     color:#fff;
     left:-2px;
     line-height:1;
     padding:6px 10px 7px;
     position:absolute;
     top:-2px;
}
 .source h4, .messageSource h4 {
    font-family:Consolas, Monaco, monospace;
     font-size:1em;
     font-weight:bold;
     line-height:1;
     margin:.5em 0;
}
 @media (max-width:360px) {
     .source-title, .messageSourceTitle {
         border-radius:3px 3px 0 0;
         left:0;
         line-height:1.2em;
         text-align:center;
         width:100%;
    }
}
/* End Responsive Accordion */
 @media screen and (min-width:769px) {
     #palco-tablet {
         display:none;
    }
}
 @media screen and (max-width:768px) {
     #palco-tablet {
         display:block;
         position: fixed;
         top:0;
         left: 0;
         width: 100%;
    }
}
 @media screen and (min-width:769px) {
     #logoimg {
         display:block;
    }
}
 @media screen and (max-width:768px) {
     #logoimg {
         display:none;
    }
}
 @media screen and (min-width:769px) {
     #searchinput {
         display:block;
    }
}
 @media screen and (max-width:768px) {
     #searchinput {
         display:none;
    }
}
 @media screen and (min-width:769px) {
     #logo_mobile {
         display:block;
    }
}
 @media screen and (max-width:768px) {
     #logo_mobile {
         display:block;
    }
}
 @media screen and (min-width:769px) {
     #nav_mobile {
         display:block;
    }
}
 @media screen and (max-width:768px) {
     #nav_mobile {
         display:none;
    }
}
 @media screen and (min-width:769px) {
     #search2 {
         display:none;
    }
}
 @media screen and (max-width:768px) {
     #search2 {
         display:block;
    }
}
 